* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgba(255, 255, 255, 0.788);
    height: 100vh;
    overflow: hidden;


}

#container{
    width: 100%;
    max-width: 588px;
    border: red 1px solid;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;

}

#dex{
    width: 200px;
    height: 100vh;
    border: greenyellow 2px solid;
}