* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color:#DC0A2D;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;


}

#container{
    width: 90%;
    max-width: 588px;
    height: 95%;
    background-color: rgb(246, 234, 234);
    margin: auto;
    justify-content: center;
    display: flex;
    border-radius: 50px;

}

#logo1{
    width: 200px;
    height: 75px;
    border: greenyellow 2px solid;
    background-image: url(./assets/International_Pokémon_logo.svg.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}